.sidebar
	.panel.panel-default
		.panel-heading Recently Edited
		.panel-body Get ready for a good time
	.panel.panel-default
		.panel-heading Recently Added
		.panel-body Get ready for a good time